html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: "Open Sans";
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-size: 1.8em;
    font-weight: bold;
    margin: .3em 0;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
    margin: .25em 0;
}

h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin: .2em 0;
}

h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin: .15em 0;
}

h5 {
    font-size: 1.1em;
    font-weight: bold;
    margin: .1em 0;
}

html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

header,
footer, .copyrights {
    background-color: #185f7d;
}

header .navbar,
footer .navbar,
.second-menu .navbar {
    padding: 0;
}

header ul,
footer ul {
    display: inline;
}

header li,
header li:hover,
footer li,
footer li:hover,
.second-menu li,
.second-menu li:hover,
.greeting {
    color: #fff;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 35px;
    transition: background-color .25s ease-out;
}

header li:hover,
footer li:hover {
    background-color: #1f1e1e;
}

header a:hover,
footer a:hover {
    color: white;
    text-decoration: none;
}

header a,
header a:hover,
.copyrights a,
.copyrights a:hover,
footer a,
footer a:hover {
    padding: 0 15px;
    color: #fff;
    display: block;
    text-decoration: none;
}

.copyrights {
    padding: 10px;
}

.logo {
    padding: 15px 0;
}

.logo a,
.logo a:hover {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.header-title {
    font-size: 2rem;
}

.header-tagline {
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1;
    color: #185f7d;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #e5e5e5;
}

.second-menu {
    background-color: #1f1e1e;
    color: #fff;
}

.second-menu li {
    font-size: 14px;
}

.second-menu li:hover {
    font-size: 14px;
    background-color: #185f7d;
}

.native-color {
    color: #185f7d;
}

.red-color {
    color: #D30009;
}

.second-menu a,
.second-menu a:hover {
    display: block;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: .5rem;
}

.form-control,
.form-check {
    padding: .2rem .75rem;
    font-size: 0.85em;
    margin-bottom: 0;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 4px;
}

form .select-tiny {
    padding: 0;
    height: 2em !important;
}

.pad-lr-0 {
    padding-left: 0;
    padding-right: 0;
}

.card-shadow {
    -webkit-box-shadow: 1px 2px 7px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 2px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 2px 7px 0px rgba(50, 50, 50, 0.75);
}

.button {
    background: #2E8CE3;
    padding: 2px 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border: solid 1px #73C8F0;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#73C2FD),
    to(#2E8CE3));
    box-shadow: inset 0 1px 0 0 #FFFFFF;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.button:hover {
    background: #2E69E3;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#59C2FF),
    to(#2E69E3));
    color: #FFFFFF;
    text-decoration: none;
}

.button:active {
    background: #2E69E3;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#59C2FF),
    to(#2E69E3));
    box-shadow: inset 1px 1px 0 0 #004A7F;
    -moz-box-shadow: inset 1px 1px 0 0 #004A7F;
    -webkit-box-shadow: inset 1px 1px 0 0 #004A7F;
    padding: 2px 10px;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.user-panel {
    max-width: 20px;
    height: auto;
    border-radius: 50%;
    position: relative;
    top: 6px;
    margin-right: 3px;
}

.form-border {
    border: solid 1px lightgrey;
}

.arrow-left {
    display: block;
    margin: auto;
}

hr {
    margin-top: .1em;
    margin-bottom: .4em;
}

.location-area {
    color: #555;
}

.vertical-align {
    display: flex;
    align-items: center;
}